h1{
    text-align: center;
    color: whitesmoke;
}

body{
    padding-bottom: 10px;
}

.div-introdutoria{
    width: 400px;
    height: 100px;
}

div{
    width: 400px;
    height: 500px;
    text-align: justify;
    margin: auto;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    text-align: center;
}


.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divcards{
    margin-right: 5px;
}