/*Nos exercícios: - Pontos turistico ,Tabela do brasileirão e o forms da soul cod
editar com  o que aprendemos com CSS*/

.titulo {
    background-color: rgb(15, 250, 15);
    border-color: yellow;
    color: white;
}

.classificadosLibertadores{
    color: rgb(86, 221, 86);
}

.classificadosLibertadores:hover{
    background-color: rgba(172, 255, 47, 0.568);
}

.classificadosSulAmericana{
    color: rgb(243, 208, 7);
}

.classificadosSulAmericana:hover{
    background-color: rgba(243, 243, 116, 0.5);
}

.neutro{
    color: black;
}

.neutro:hover{
    background-color: #ddd;
}

.rebaixamento{
    color: red;
}

.rebaixamento:hover{
    background-color: rgba(240, 82, 82, 0.418);
}