/*
Para usar o CSS devemos linkar ele ao html de destino
*/

p {
    color:green;
    font-size: 20px;
    text-decoration: underline;
}

body {
    background-color: black;
    font-family:"Montserrat"; /* fallback*/
}

/*
TIPOS DE SELETOR BÁSICO
1) Por elemento;
2) Por id (#) -> estilização unica
3) Por class (.) -> estilização para varios elementos
*/

h1, h2, h3 { /*Por elemento*/
    color: white;
}

/*
Uso o id quando quero estilizar um elemento específico
*/

#meu-h1 {
    font-weight: 100;
}

/*
Posso aplicar em vários elementos diferentes
*/

.cabecalho {
    color: red;
    text-decoration: underline;
    font-weight: 900;
}

.quadrado {
    width: 250px;
    height: 250px;
    background-color: yellow;
    border-radius: 125px;
}

.banner {
    width: 100%;
    border-radius: 16px;
}

/*
HIERARQUIA:
 1) Tag Style
 2) Por id (#) => estilização unica
 3) Por class (.) => estilização p/ varios
 4) Por elemento
 */